:host {
  padding: 5px;
  display: grid;
  grid-template-columns: auto 60px;
  text-align: center;

  .routes-section{
    grid-column: 1;
    padding: 20px;
  }

  .icons-section {
    margin-left: auto;
    grid-column: 2;

    .icon {
      transition: transform ease 500ms;
      &.expanded-icon{
        transform: rotate(180deg);
      }
    }
  }
}
