.card {
  border-radius: 25px;
  border: solid 2px $darkgrey;
  background-color: $light;
  padding: 15px;
  margin: 10px;
  transition: border 500ms ease;

  &.card-hover:hover {
    border: 2px solid $lightgreen;
    cursor: pointer;
    .card-child-hover {
      border: 2px solid $lightgreen !important;
    }
  }
  &.card-child-hover {
    transition: border 500ms ease;
    background-color: red;
  }
}
