::-webkit-scrollbar {
  width: 12px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  &-thumb {
    background: $blackgrey;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  &-track {
    border-radius: 4px;
    background: $lightgrey;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}

