@use "vars" as *;

:host {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 60px 420px 1fr;
  grid-template-rows: 60px 1fr;
  background-color: $blackgrey;
  color: $light;
  .navbar {
    grid-column: 2 / span 3;
    grid-row: 1;
    z-index: 2;
  }
  .sidebar {
    grid-column: span 2 /3;
    grid-row: 1 / span 2;
    transform: translateX(-420px);
    transition: transform 0.2s linear, border 0.2s linear,
      background 0.2s linear;
    border-right: 0px solid $lightgrey;

    background-color: inherit;
    will-change: transform;
    z-index: 2;

    &.expanded {
      background-color: $darkgrey;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
      transform: translateX(0);
      border-right: 1px solid $lightgrey;
    }
  }
  .container {
    background: $background-primary;
    grid-column: 2 / span 3;
    grid-row: 2;
    border-radius: 20px 0 0 0;
    padding: 30px;
    padding-top: 50px;
    color: $darkgrey;
    scrollbar-gutter: stable;
    &::ng-deep {
      &:hover,
      &:active {
        &::-webkit-scrollbar {
          &-thumb {
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          }
          &-track {
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }
      &::-webkit-scrollbar {
        width: 12px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        &-thumb {
          background: $blackgrey;
          border-radius: 4px;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        &-track {
          background: $lightgrey;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
      }
    }
    &:last-child::ng-deep {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
