$blackgrey: #202020;
$darkgrey: #40453f;
$lightgrey: #bebdbc;
$light: #f7f7f7;
$purple: #653cf0;
$purplegrey: #513192;
$purpleblue: #406bf7;
$lightblue: #40f7dd;
$lightgreen: #3eed7e;
$blue-primary: #45aee0;

$background-gradient-grey: linear-gradient(
  215deg,
  $blackgrey 0%,
  $darkgrey 100%
);
$background-gradient-dark: linear-gradient(
  215deg,
  black 100%,
  $blackgrey 1000%
);

$background-primary: linear-gradient(
  215deg,
  $purplegrey 0%,
  $blue-primary 100%
);

$background-primary-inverse: linear-gradient(
  215deg,
  $blue-primary 0%,
  $purplegrey 100%
);
