<div class="home-container">
  <a
    class="curso-home card"
    href="https://www.udemy.com/course/redux-ngrx-angular/?couponCode=OCT-2022-B"
    target="_blank"
  >
    <h2>Curso de Redux en Angular - NGRX</h2>
    <h3>por Fernando Herrera de Udemy</h3>
    <h4>Página para recopilar los proyecto desarrollados durante el curso</h4>

    <div class="card contenido-curso">
      <img
        class="img-ngrx"
        src="../../../../assets/images/logos/redux-ngrx.jpg"
        alt="Imagen NGRX y Redux"
      />
      <h3>REDUX en Angular con NGRX: Desde las bases hasta la práctica</h3>
      <p>
        Al finalizar el curso podrás implementar exitosamente el patrón redux en
        tus proyectos de Angular y controlar como fluye la información en tu
        aplicacion
      </p>
    </div>
  </a>
</div>
